modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "cd server && go build -o bin/webster . && ./bin/webster"

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "cd server && go build -o bin/webster . && ./bin/webster"]
deploymentTarget = "cloudrun"
ignorePorts = false
