<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="./assets/simple.css/simple.css">
  <link rel="stylesheet" href="./assets/styles.css">
  <!-- TODO: import JS as modules to try to reduce round trips -->
  <script src="./assets/tinymce/tinymce.min.js"></script>
  <script>
    /** 
     * Returns the appropriate CSS settings for the editor depending on the user's dark mode setting
     * @returns {Object} css
     * @returns {string} css.content - Path for CSS used within the editor
     * @returns {string} css.ui - CSS used for the editor UI
     */
    const getCSS = () => {
      const cssPath = "./assets/tinymce/skins"
      const contentCSSPath = `${cssPath}/content`
      const contentCSSFile = "content.min.css"
      const uiCSSPath = `${cssPath}/ui`
      const uiCSSFile = "skin.min.css"

      const isDark = window.matchMedia("(prefers-color-scheme: dark)")
      return {
        content: isDark.matches
          ? `${contentCSSPath}/dark/${contentCSSFile}`
          : `${contentCSSPath}/default/${contentCSSFile}`,
        ui: isDark.matches
          ? "oxide-dark"
          : "oxide"
      }
    }

    const css = getCSS()
    tinymce.init({
      selector: "#editor",
      height: 700,
      content_css: css.content,
      skin: css.ui,
    })
  </script>
</head>

<body>
  <h1>{{ .Title }}</h1>
  <p>Helping you create content for your <em>static websites</em>.</p>
  <form action="" method="post">
    <div class="row"><button type="submit">Save</button></div>
    <textarea name="editor" id="editor">{{ .Content }}</textarea>
  </form>
</body>

</html>