<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="./assets/simple.css/simple.css">
  <link rel="stylesheet" href="./assets/styles.css">
  <!-- TODO: import JS as modules to try to reduce round trips -->
  <script src="./assets/tinymce/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: "#editor",
      height: 700,
    })
  </script>
</head>

<body>
  <div class="horizontal">
    <img src="./assets/images/Webster.png" alt="Webster the pencil">
    <h1>{{ .Title }}</h1>
  </div>
  <p>Helping you craft content for your static websites.</p>
  <form action="/content" method="post">
    <div class="row"><button type="submit">Save</button></div>
    <textarea name="editor" id="editor">{{ .Content }}</textarea>
  </form>
</body>

</html>